/bin/
/.classpath
/.project
target/
.settings/
.github/workflows/learn-github-actions.yml.bak
.github/workflows/sonarcloud.yml.bak
.github/codeql/codeql-config.yml.bak
.github/codeql/queries/pwd.ql.bak
.github/workflows/codeql.yml.bak
.github/workflows/configuration.yml.bak
.github/workflows/java1.yml.bak
.github/codeql/queries/qlpack.yml.bak
.github/codeql/queries/customize/pwdd.ql.bak
.github/codeql/queries/customize/qlpack.yml.bak
